{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | Dummies Library</title>
    <link rel="stylesheet" href="{% static 'ebook/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   </head>
<body>
    <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Dummies Library</a>
      </div>
      <ul>
        <li><a href="#">SignIn</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    {% load static %}
<style>
    .img {
        background: url("{% static 'ebook/images/img3.jpg' %}")no-repeat;
        width: 100%;
        height: 100vh;
         background-size: cover;
        background-position: center;
        position: relative;
      }
</style>
    <div class="title">The only thing that you absolutely have to know,</div>
    <div class="sub_title">is the location of library </div>
    <div class="btns">
      <button>Learn More</button>
      <!-- <button>Subscribe</button> -->
    </div>
  </div>
</body>

</html>
