virt/
*.pyc
*.pyo
bookstore/bookstore/__pycache__/
bookstore/ebook/__pycache__
.vscode/

bookstore/bookstore/__pycache__/settings.cpython-310.pyc
*.pyc
*.pyc
*.pyc
*.pyc
bookstore/ebook/__pycache__/urls.cpython-310.pyc
*.pyc
bookstore/members/__pycache__/views.cpython-310.pyc
bookstore/members/__pycache__/views.cpython-310.pyc
bookstore/members/__pycache__/views.cpython-310.pyc
