{% block content %} 
    <center>
        <h1>Reference Books</h1>
        {% load static %}
        {% for book in books_list %} 
            {{ book.title }}<br/>
            {{ book.grade }}<br/>
            {{ book.subject }}<br/>
            {{ book.desc }}<br/>
            {{ book.title }}<br/>
            {{ book.uploaded_by}}<br/>
            <a href="{% static 'ebook/presentation.pdf' %}">PDF: {{ book.pdf }}</a><br/>
            {{ book.cover }}<br/>
            <br/>
            {% endfor %}

    </center>
{% endblock %}