
{% load crispy_forms_tags %}
<div>
    <h1> Insert </h1>
    <form method="post" enctype= multipart/form-data>
    {% csrf_token %}
    <span>Title:</span>{{form.title}}<br/>
    <span>Grade:</form>{{form.grade}}<br/>
    <span>Subject:</form>{{form.subject}}<br/>
    <span>Description:</form>{{form.desc}}<br/>
    <span>Uploaded by:</form>{{form.uploaded_by}}<br/>
    <span>Grade:</form>{{form.pdf}}<br/>
    <span>Grade:</form>{{form.cover}}<br/>
    <button type="submit">Submit</button>
    </form>
</div>
