
    {% extends 'publisher/base.html' %}


{% load crispy_forms_tags %}
{% block content %}
<div>
    <center><h2>Add Reference or Slide</h2></center>
    <form method="post" enctype= multipart/form-data>
    {% csrf_token %}
    <div class="col-12">
        <label for="inputAddress" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Title.." name="title">
    </div>
    <div class="col-12">
        <label for="inputState" class="form-label">Grade</label>
         <select id="inputState" class="form-select" name="grade">
        <option selected>Choose...</option>
        <option>...</option>
        <option>Grade 10</option>
        </select>
    </div>
    <div class="col-12">
        <label for="inputState" class="form-label">Subject</label>
        <select id="inputState" class="form-select" name="subject">
        <option selected>Choose...</option>
        <option>...</option> 
        <option>English</option>
        </select>
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Description</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Description .." name="desc">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label" desable>Uploaded By</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Uploaded By .." name="uploaded_by" >
    </div>

    <div class="col-12">
        <label for="formFile" class="form-label">Add Pdf File</label>
        <input class="form-control" type="file" id="formFile" name="pdf">
    </div>

    <div class="col-12">
        <label for="formFile" class="form-label">Add Cover Page</label>
        <input class="form-control" type="file" id="formFile" name="cover">
    </div>
    <br>
    <div class="col-12">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
    </form>
</div>

{% endblock  %}