<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!
{% endblock %}
{% if request.user.is_staff %}
{% endif %} 

{% if user.is_authenticated %}
{% else %} 
{% endif %}
<li><a href="{% url 'logout' %}">Logout</a></li>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1> JavaScript Tutorials</h1>
  
    <script>
        //write JavaScript code here..
        alert('Hello, how are you?')
    </script>
</body>
</html>