{% extends 'publisher/base.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Group Chat</h1>
      <!-- <p class="lead">By SmfCoder</p> -->
    </div>
    <div class="container-fluid bg-light" id="chat">
      <div class="content d-flex flex-column" id="chat-content"> 
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </div>
  {% endblock content %}