{% extends 'publisher/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_staff %}

    <center>
        <div class="col-12">
    <h1> Update Reference Book </h1>    
        <form method="post", enctype= multipart/form-data >
            {% csrf_token %}
        
                {{ form.as_ul }}
            
            <input type="submit" value="update" onclick="myFunction()">
        
        </form>
</div>
    </center>
    {% endif %}
    {% endif %}
{% endblock %}
