
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Dummies Library</title>
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" href="images/icon.jpg">
    </head>
    <body>

<div class="about-section">
  <h1><a href="{% url 'index' %}">Home</a></h1>
    <h1>DUMMIES-LIBRARY</h1>
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Eyoul" style="width:75%">
        <div class="container">
          <h2>Eyoul Shimeles</h2>
          <p class="title">Member</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>eyoulshimeles1@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Abel" style="width:75%">
        <div class="container">
          <h2>Abel Asfaw</h2>
          <p class="title">Member</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="Yiacob" style="width:75%">
        <div class="container">
          <h2>Yiacob Tilahun </h2>
          <p class="title">member</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    DUMMIES LIBRARY
  </footer>
</body>
</html>