{% extends 'base.html' %}

<html lang="en" dir="ltr">
{% block content  %}
<body>
    <nav>
    <div class="menu">
      <div class="logo">
        <a href="{% url 'index' %}">Dummies Library</a>
      </div>
      <ul>
        <li><a href="{% url 'student' %}">Student</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">SignIn</a></li>
      
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
   

    <div class="title">The only thing that you absolutely have to know,</div>
    <div class="sub_title">is the location of library </div>
    <div class="btns">
      <button><a href="{% url 'login' %}">Learn More</a></button>
      <!-- <button>Subscribe</button> -->
    </div>
  </div>
</body>

</html>
{% endblock  %}