{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/header.css}">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="icon" href="images/icon.jpg">

	<title>DUMMIES LIBRARY</title>
</head>
<body>
    <header>
        <div class="navbar">
            <!-- <button><a href="#home">Home</a></button> -->
            <button><a href="#logout">Logout</a></button>
        </div>
    </header>
    <main>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'home')"><h2>Home</h2></button>
            <button class="tablinks" onclick="openCity(event, 'grade')"><h2>TextBook</h2></button>
            <button class="tablinks" onclick="openCity(event, 'chat')"><h2>Group Chat </h2></button>
            <button class="tablinks" onclick="openCity(event, 'addbook')"><h2>Add Book</h2></button>
            <button class="tablinks" onclick="openCity(event, 'deletereq')"><h2>Delete Request</h2></button>
            <button class="tablinks" onclick="openCity(event, 'resadded')"><h2>Recent added book</h2></button>
            <button class="tablinks" onclick="openCity(event, 'manage')"><h2>Manage book</h2></button>
            <button class="tablinks" onclick="openCity(event, 'manageu')"><h2>Manage user</h2></button>
            <button class="tablinks" onclick="openCity(event, 'setting')"><h2>Setting</h2></button>
        </div>
        
        <div id="home" class="tabcontent">
            <center><h1>Welcome to Dummie Library </h1></center>
            <p>Add home content in this page <br> how to study freedman stayel some motivational contenet and maybe search contenet 
                <br>
                <ul>
                    <li>View total books </li>
                    <li>View user</li>
                </ul> </p>
        </div>
        
        <div id="grade" class="tabcontent">
        <h3>Grade</h3>
        <div class="row">
            <div class="column">
              <div class="card"><a href="view.html"><img src="images/1st.png" alt="Geogr" style="width:100%"></a>
            </div>
            </div>
                   
        <p>Add grade contect in this page.</p>
        </div>
        <div id="chat" class="tabcontent">
        <h3>Group Chat</h3>
        <p>resource content page this page.</p>
        </div>

        <div id="addbook" class="tabcontent">
        <h3>Add Book</h3>
        <p>resource content page this page.</p>
        </div>
        <div id="deletereq" class="tabcontent">
        <h3>Delete Request</h3>
        <p>add book page this page.</p>
        </div>
        <div id="resadded" class="tabcontent">
        <h3>Recent added book</h3>
        <p>deletereq page this page.</p>
        </div>
        <div id="manage" class="tabcontent">
        <h3>Manage book</h3>
        <p>Manage book.</p>
        </div>
        <div id="manageu" class="tabcontent">
        <h3>Manage User</h3>
        <p>Manage User.</p>
        </div>
        <div id="setting" class="tabcontent">
        <h3>setting</h3>
        <p>this page include
            <ul>
                <li>Profile update</li>
                <li>password reset</li>
            </ul>
        </p>
        </div>
        
    </main>
    <footer>
        DUMMIES LIBRARY
    </footer>
  <script src="js/script.js"></script>
</body>
</html>