{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <script src="js/script.js"></script>
    <link rel="icon" href="images/icon.jpg">

	<title>DUMMIES LIBRARY</title>
</head>
<body>
    <header>
        <div class="navbar">
            <!-- <button><a href="#home">Home</a></button> -->
            <button><a href="#logout">Logout</a></button>
        </div>
    </header>
    <main>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'home')"><h2>Home</h2></button>
            <button class="tablinks" onclick="openCity(event, 'grade')"><h2>Grade</h2></button>
            <button class="tablinks" onclick="openCity(event, 'resource')"><h2>Group Chat </h2></button>
            <button class="tablinks" onclick="openCity(event, 'resource')"><h2>Resource</h2></button>
            <button class="tablinks" onclick="openCity(event, 'setting')"><h2>Setting</h2></button>
        </div>
        
        <div id="home" class="tabcontent">
            <center><h1>Welcome to Dummie Library </h1></center>
            <p>Add home content in this page <br> how to study freedman stayel some motivational contenet and maybe search contenet </p>
        </div>
        
        <div id="grade" class="tabcontent">
        <h3>Grade</h3>
        <div class="row">
            <div class="column">
              <div class="card"><a href="view.html"><img src="images/1st.png" alt="Geogr" style="width:100%"></a>
            </div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/2nd1.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/3rd.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/4th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
          </div>
          <div class="row">
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/5th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/6thGrade.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/7th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/8th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
          </div>
          <div class="row">
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/9th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/10th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/11th.png" alt="Geogr" style="width:100%"></a></div>
            </div>
            <div class="column">
                <div class="card"><a href="view.html"><img src="images/12.png" alt="Geogr" style="width:100%"></a></div>
            </div>
          </div>
        
        <p>Add grade contect in this page.</p>
        </div>
        <div id="resource" class="tabcontent">
        <h3>Resource</h3>
        <p>resource content page this page.</p>
        </div>

        <div id="resource" class="tabcontent">
        <h3>Resource</h3>
        <p>resource content page this page.</p>
        </div>

        <div id="setting" class="tabcontent">
        <h3>setting</h3>
        <p>this page include
            <ul>
                <li>Profile update</li>
                <li>password reset</li>
            </ul>
        </p>
        </div>
        
    </main>
    <footer>
        DUMMIES LIBRARY
    </footer>
</body>
</html>