<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <script src="js/script.js"></script>
    <link rel="icon" href="images/icon.jpg">

	<title>DUMMIES LIBRARY</title>
</head>
<body>
    <header>
        <div class="navbar">
            <button><a href="student.html">Home</a></button>
            <button><a href="#logout">Logout</a></button>
        </div>
    </header>
    <main>
        <center>
            <h1 style="color: green">Subject</h1>
            <!-- <h3>Embedding the PDF file Using Object Tag</h3> -->
            <object data="data/TextBook-Unit7.pdf"
                    width="800" 
                    height="500"> 
            </object>
        </center>
    </main>
    <footer>
        DUMMIES LIBRARY
    </footer>
</body>
</html>